/REBUSS.UWP.DocumentViewer.sln.DotSettings.user
/REBUSS.UWP.DocumentViewer.sln.DotSettings
/REBUSS.UWP.Controls.DocumentViewer/obj
/REBUSS.UWP.Controls.DocumentViewer/bin
/REBUSS.UWP.Controls.DocumentViewerDemo/obj
/REBUSS.UWP.Controls.DocumentViewerDemo/bin
/REBUSS.UWP.Controls.DocumentViewerDemo/REBUSS.UWP.Controls.DocumentViewerDemo_TemporaryKey.pfx
/.vs/REBUSS.UWP.DocumentViewer/v15/.suo
/.vs/REBUSS.UWP.DocumentViewer/v15/Server/sqlite3/db.lock
/.vs/REBUSS.UWP.DocumentViewer/v15/Server/sqlite3/storage.ide
/.vs/REBUSS.UWP.DocumentViewer/v15/Server/sqlite3/storage.ide-shm
/.vs/REBUSS.UWP.DocumentViewer/v15/Server/sqlite3/storage.ide-wal
